.carousel-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  background-color: #1d1d1d;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 500px;
}

.carousel-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.carousel-card-image {
  max-width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.carousel-card-content {
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}

.carousel-card-title {
  font-size: 24px;
  margin-bottom: 8px;
  color: #ffffff;
}

.carousel-card-vote-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.carousel-card-vote-icon {
  fill: #f9cc6c;
  height: 1em;
}

.carousel-card-vote-average {
  font-size: 18px;
  color: #ffffff;
}

.carousel-card-description {
  color: #b0b0b0;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}

.carousel-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
  border-radius: 10px;
}

.carousel-card:hover .carousel-card-overlay {
  opacity: 1;
}

@media (max-width: 1200px) {
  .carousel-card {
    height: 450px;
  }

  .carousel-card-content {
    padding: 1rem;
  }

  .carousel-card-title {
    font-size: 22px;
  }

  .carousel-card-vote-average {
    font-size: 16px;
  }

  .carousel-card-description {
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .carousel-card {
    height: 400px;
  }

  .carousel-card-image {
    height: 40%;
  }

  .carousel-card-content {
    padding: 0.8rem;
  }

  .carousel-card-title {
    font-size: 20px;
  }

  .carousel-card-vote-average {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .carousel-card {
    height: 350px;
  }

  .carousel-card-image {
    height: 35%;
  }

  .carousel-card-content {
    padding: 0.6rem;
  }

  .carousel-card-title {
    font-size: 18px;
  }

  .carousel-card-vote-average {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .carousel-card {
    height: auto;
    max-width: 100%;
    margin: 10px;
  }

  .carousel-card-image {
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  .carousel-card-content {
    padding: 0.5rem;
  }

  .carousel-card-title {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .carousel-card-vote-average {
    font-size: 14px;
  }

  .carousel-card-description {
    font-size: 12px;
  }
}
