.carousel-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  background-color: #1d1d1d;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: auto;
  margin-bottom: 2rem;
}

.carousel-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.carousel-card-image {
  max-width: 100%;
  height: 450px;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
}

@media (max-width: 992px) {
  .carousel-card {
    height: auto;
    max-width: 80%;
    margin: 10px auto;
    margin-bottom: 2rem;
  }
  
  .carousel-card-image {
    height: 450px;
  }
}

@media (max-width: 576px) {
  .carousel-card {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-bottom: 2rem;
  }
  
  .carousel-card-image {
    height: 200px;
  }
}
