.header {
  background-color: #f8b500;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title h1 {
  font-size: 30px;
}

.icon {
  width: 60px;
  height: 60px;
}

nav {
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #f8b500;
}
