.errorMovie {
  text-align: center;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.movie-details {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 5rem;;
}

.movie-details-image img {
  padding-right: 2rem;
  width: 400px;
  height: auto;
}

.movie-details-info {
  display: flex;
  flex-direction: column;
}

.movie-details-info h2{
  font-size: 3rem;
}

.movie-details-rating {
  display: flex;
  align-items: center; gap:1rem;
  font-size: 2rem;
  margin-bottom: 10px;
}

.movie-details-overview {
  margin-bottom: 20px;
  width: 75%;
}

.movie-details-video {
  margin-top: 20px;
}

.filter-container{
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
}